*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #035191, #5ee8e6);
    padding: 10px;
    color: #fff;
    
}

.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}

.calculator h1{
    font-size: 60px;
}

.calculator h1 span{
    font-size: 65px;
    color: aqua;
}

.input-box{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 10px;
    background-color: #84e8e6;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.input-box input{
    border: 0;
    outline: 0;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    font-size: 20px;
    flex: 1;
    position: relative;
    
    
}

.input-box button{

    border: 0;
    background-color: #e87e13;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    margin: 10px 0px 10px 10px;
    font-weight: 600;
    cursor: pointer;
}


   


.input-box ::-webkit-calendar-picker-indicator{

    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
    height: auto;

}

#result{
    font-size: 25px;
}

#result span{
    color: yellow;
    
}